@import './base.css';
@import './style/font.css';
@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

body {
  background-color: #000000;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
